<div class="card">  
    
    <h4 class="card-header">Adicionar visita</h4>

      <div class="card-block">
        <form [formGroup]="addVisitForm" (ngSubmit)="addVisit(visit)">
            <div class="form-group">
                <label for="info">Observações</label>
                <textarea class="form-control" name="description" formControlName="description" ></textarea>          
            </div>
                
            <button class="btn btn-sm btn-primary" type="submit" [disabled]="!addVisitForm.valid" >
                <i class="fa fa-floppy-o"></i> Salvar
            </button>
        </form>
      </div>
 </div>  


<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Visitas ({{histories.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Observações</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody *ngIf="histories.length === 0">
        <tr>
          <td colspan="4">Não há visitas desse cliente.</td>
        </tr>  
      </tbody>
      <tbody>
        <tr *ngFor="let visit of histories">
          <td>{{visit.description}}</td>
          <td>
            <button class="btn btn-sm btn-danger" (click)="deleteVisit(visit)">
                <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>  
      </tbody>
    </table>
    <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Mensagem:</strong> {{infoMsg.body}}
    </div>
  </div>
</div>